@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <h1 class="display-4">First Web Application</h1>
</div>


<button Onclick="window.location.href = 'DropDownPage';" id="myButton" class="float-left submit-button"> Home </button>
