@page
@model WebApp1.Pages.SadPageModel
@{
}
<div class="header">Sad Life Quote</div>
<br />
<style>
    .header {
        padding: 10px;
        text-align: left;
        background: rgba(70, 221, 68, 0.93);
        color: white;
        font-size: 30px;
    }
</style>


<p>
    The way sadness works is one of the strange riddles of the world. If you are stricken with a great sadness, you may feel as if you have been set aflame, not only because of the enormous pain but also because your sadness may spread over your life,
    like smoke from an enormous fire.
</p>

<br>
<input id="Button1" type="button" value="Back" style="margin:5px ; color:red;" onclick="window.location.href = 'DropDownPage' " />
<br>
<input id="Button1" type="button" value="Logout" style="margin:5px; float:right" ; color="darkslategrey" onclick="window.location.href = 'Index' " />